spring.application.name=steam-stats-backend
spring.threads.virtual.enabled=true
spring.jpa.properties.hibernate.jdbc.batch_size=1000
spring.jpa.properties.hibernate.order_inserts=true

# Config hibernate show sql for debugging purposes
#spring.jpa.properties.hibernate.format_sql=true

#Config postgres database connection
spring.datasource.url=jdbc:postgresql://localhost:YOUR_POSTGRES_PORT/postgres
spring.datasource.username=YOUR_POSTGRES_USERNAME_HERE
spring.datasource.password=YOUR_POSTGRES_PASSWORD_HERE
spring.datasource.driver-class-name=org.postgresql.Driver

#Config hibernate
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true

#Config steam api key
steam.api.key=YOUR_STEAM_API_KEY_HERE